/Studente/target/
/Esercizi/Informatica/Esercizio 1 (Radice X)/build/
/Esercizi/Informatica/Esercizio 1 (Radice X)/nbproject/private/
/Esercizi/Informatica/Esercizio 5 (Funzioni e Vettori)/Esercizio 5/build/
/Esercizi/Informatica/Esercizio 5 (Funzioni e Vettori)/Esercizio 5/nbproject/private/
/Esercizi/Informatica/Esercizio 6 (Azzerramento Pari)/Esercizio 6/build/
/Esercizi/Informatica/Esercizio 6 (Azzerramento Pari)/Esercizio 6/nbproject/private/
/Esercizi/Informatica/Esercizio 7 (Funzioni)/Esercizio 7/build/
/Esercizi/Informatica/Esercizio 7 (Funzioni)/Esercizio 7/nbproject/private/
/Esercizi/Informatica/OOP/Linea/target/
/Esercizi/Informatica/OOP/Mazzo/nbproject/private/
/Esercizi/Informatica/OOP/Carta/target/
/Esercizi/Informatica/OOP/Punto/target/
/Esercizi/Informatica/OOP/Calcolatrice Frazioni/build/
/Esercizi/Informatica/OOP/Calcolatrice Frazioni/nbproject/private/
/Esercizi/Informatica/OOP/Complesso/Complesso/target/
/Esercizi/Informatica/OOP/Frazione/target/
/Esercizi/Informatica/OOP/Rettangolo/target/
/Esercizi/Esercizio 1 (Radice X)/build/
/Esercizi/Esercizio 1 (Radice X)/nbproject/private/
/Esercizi/Esercizio 5 (Funzioni e Vettori)/Esercizio 5/build/
/Esercizi/Esercizio 5 (Funzioni e Vettori)/Esercizio 5/nbproject/private/
/Esercizi/Esercizio 6 (Azzerramento Pari)/Esercizio 6/build/
/Esercizi/Esercizio 6 (Azzerramento Pari)/Esercizio 6/nbproject/private/
/Esercizi/Esercizio 7 (Funzioni)/Esercizio 7/build/
/Esercizi/Esercizio 7 (Funzioni)/Esercizio 7/nbproject/private/
/OOP/Ereditarietà/Punto_3D/nbproject/private/
/OOP/Ereditarietà/Punto_3D/build/
/OOP/Ereditarietà/Quadro/nbproject/private/
/OOP/Ereditarietà/Quadro/build/
/OOP/Ereditarietà/Quadrilatero/nbproject/private/
/OOP/Ereditarietà/Quadrilatero/build/
/OOP/Classi Astratte/Shape/nbproject/private/
/OOP/Classi Astratte/SimpleThread/nbproject/private/
/OOP/Classi Astratte/SimpleThread/build/